<!DOCTYPE ejs>
<html>
<head>
  <title>Error 404 - Page Not Found</title>
  <link rel="stylesheet" type="text/css" href="../css/ErrorPage.css">
</head>
<body>
  <div class="container">
    <div>
      <img src="../Images/Leonardo404.jpg" alt="Error Image">
    </div>
    <div>
      <h1>404 - Page Not Found</h1>
    </div>
    <div>
        <a href="./MainPage"><button>Go Back</button></a>
    </div>
  </div>
</body>
</html>
