<!DOCTYPE ejs>
<html>
  <head>
    <title>Sportify || Login Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script>
      (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
        key: "AIzaSyB-tnPq02i5-O8u0KIkKvfYhH1JbNs0da8",
        v: "weekly",
      });
    </script>
    <link rel="stylesheet" type="text/css" href="../css/Loginpage.css" />
  </head>
  <body class="bodyLogin">
    <div class="strip"></div>
    <div class="container">
      <div class="login-box">
        <h2 class="LogIn_title">Login</h2>
        <form id="login-form" class="form_container" action="/login" method="post">
          <div class="input-group">
            <label name="username" for="username">Username:</label>
            
            <div class="input-icon">
              <img
                class="input-icon-img"
                src="../Images/user.png"
                alt="User Icon"
              />
              <input
                type="text"
                id="username"
                name="username"
                required
                placeholder="Type your Username"
              />
            </div>
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <div class="input-icon">
              <img
                class="input-icon-img"
                src="../Images/login.png"
                alt="Login Icon"
              />
              <input
                type="password"
                id="password"
                name="password"
                required
                placeholder="Type your password"
              />
            </div>
          </div>
          <div class="input-group">
            <button type="submit">Login</button>
          </div>
          <label
            >Not a Member?
            <a
              style="
                color: #ea9215;
                font-weight: bold;
                font-family: Poppins-Bold;
              "
              href="http://localhost:70/register"
              >Join us</a
            ></label>
          <p class="or-sign-in">OR SIGN IN WITH...</p>
          <div class="social-buttons">
            <button class="facebook-button" onclick="window.location.href = 'https://www.facebook.com/';">
              <img src="../Images/facebook.png" alt="Facebook Icon" />FACEBOOK
            </button>
            <button class="google-button" onclick="window.location.href = 'https://www.google.com';">
              <img src="../Images/google.png" alt="Google Icon" />GOOGLE
            </button>
          </div>
          <img style="width: 136px" src="../Images/logo.png" alt="Logo" />
        </form>
      </div>
      <div class="strip-bottom"></div>
      <div id="map"></div>
      <script type="text/javascript" src="../js/login.js"></script>
  
  </body>
</html>