<!DOCTYPE ejs>
<html>
  <head>
    <title>Sportify || Main Page</title>

    <link rel="stylesheet" type="text/css" href="../css/main_page.css" />
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <%- include('./templates/header.ejs');%>
    <div class="welcome-header">
      <h2>WELCOME TO SPORTIFY</h2>
    </div>
    <%- include('./templates/dropDown.ejs');%>

  <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active c-item">
        <img src="../ImagesFront/1.png" class="d-block w-100 c-img" alt="Slide 1">
      
      </div>
      <div class="carousel-item c-item">
        <img src="../ImagesFront/2.png" class="d-block w-100 c-img" alt="Slide 2">
      </div>
      <div class="carousel-item c-item">
        <img src="../ImagesFront/6.png" class="d-block w-100 c-img" alt="Slide 3">
       
      </div>
      <div class="carousel-item c-item">
        <img src="../ImagesFront/3.png" class="d-block w-100 c-img" alt="Slide 2">
      </div>
      <div class="carousel-item c-item">
        <img src="../ImagesFront/5.png" class="d-block w-100 c-img" alt="Slide 2">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


  
  
  </div>
  </div>
  

  
  

    <%- include('./templates/footer.ejs');%>
    <script type="text/JavaScript" src="../js/MainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
