<!DOCTYPE ejs>
<html>
  <head>
    <title>Sportify || Main Page</title>
    <link rel="stylesheet" type="text/css" href="../css/main_page.css" />
  </head>
  <body>
    <%- include('./templates/header.ejs');%>
    <div class="welcome-header">
      <h2>WELCOME TO SPORTIFY</h2>
    </div>
    <%- include('./templates/dropDown.ejs');%>


    <div class="card">
      <div class="search">
          <input type="text" placeholder="Enter city name" spellcheck="false">
          <button><img src="weatherImages/search.png"></button>
      </div>

      <div class="error">
          <p>Invalid city name</p>
      </div>

      <div class="weather">
          <img src="weatherImages/rain.png" class="weather-icon">
          <h1 class="temp">30°C</h1>
          <h2 class="city">Tel Aviv</h2>
          <div class="details">
              <div class="col">
                  <img src="weatherImages/humidity.png">
                  <div>
                      <p class="humidity">50%</p>
                      <p>Humidity</p>
                  </div>
              </div>

              <div class="col">
                  <img src="weatherImages/wind.png">
                  <div>
                      <p class="wind">15 km/h</p>
                      <p>Wind Speed</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  
    <!-- <div class="content-container">
      <div class="content">
        <a href="../../Salepage">
          <img
            src="../images/summer-sale.png"
            alt="Sale-main-page"
            class="sale-image"
          />
        </a>
      </div>
    </div> -->

    <!-- <div class="header2">HOT TRENDS</div> -->

    <!-- <div class="content">
      <a href=" ">
        <img
          src="../images/mango-sale.png"
          alt="Sale-main-page"
          class="sale-image"
        />
      </a>
    </div> -->

    <%- include('./templates/footer.ejs');%>
    <script type="text/JavaScript" src="../js/MainPage.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </body>
</html>
