<!DOCTYPE ejs>
<html>
  <head>
    <title>Sportify || Our branches</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="../css/ourStores.css" />
  </head>
  <body> 
    <%- include('./templates/header.ejs');%>
    <h1 class="headline"> Our branches:</h1> 
    <div id="inline">
    <div id="map"></div>
    <div id="block">
    <ol id="addressCointaner">
        
    </ol>
    <% if (Admin) { %>                  
      <a href="/editStores"  >
        <button class="update btn btn-primary">Edit</button>
        </a>
     
    <% } %>
</div>

</div>
<div id="row2">
<div class="weather-container">
  <div class="card weather-card">
      <div class="search">
        <input type="text" placeholder="Enter city name" spellcheck="false">
        <button><img src="../Images/search.png"></button>
    </div>

    <div class="error">
        <p>Invalid city name</p>
    </div>

    <div class="weather">
      <div class="col">
        
        <div class="weatherIcon">
        <img src="../Images/rain.png" class="weather-icon">
        <h1 class="temp">30°C</h1>
        <h2 class="city">Tel Aviv</h2>
      </div>
      </div>

        <div class="details">
            <div class="col">
                <img src="../Images/humidity.png">
             
                    <p class="humidity">50%</p>
                    <p>Humidity</p>
                
            </div>

            
        </div>
        <div class="details">
        <div class="col">
          <img src="../Images/wind.png">
       
              <p class="wind">15 km/h</p>
              <p>Wind Speed</p>
          </div>
      </div>
    </div>
</div>
</div> 
<div id="canvasContainer">
<canvas id="canvas" width="100" height="75"></canvas>
    <button id="toggleButton" class="btn-outlined">Watch Our Sponsership</button>
  </div>
  </div>
<div>
    <h1>ABOUT US:</h1>
    <div class="AboutUs">
      Sportify, your ultimate destination for all things sports and fitness. Our newly opened sport store offers a curated selection of top-quality athletic wear, footwear, and accessories to fuel your active lifestyle. With a focus on both style and performance, we cater to sports enthusiasts of all levels, ensuring you're equipped for every workout and adventure. Experience the convenience of shopping for your favorite brands and gear all under one roof at Sportify, where your athletic journey begins. Join us and elevate your sportswear game today!
      <br>
<br>
<br>
Activity time:
      <br>
  Sunday: 9:30–21:30
<br>
Monday: 9:30–21:30
<br>
 Tuesday: 9:30–21:30
<br>
Wednesday: 9:30–21:30
<br>
Thursday: 9:30–21:30
<br>
 Friday 9:00–14:30
<br>
 Saturday: 10:00–23:00  
    </div>
  </div>
      <script>
        (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
          key:`<%=apikey%>`,
          v: "weekly",
        });
      </script>
          <%- include('./templates/footer.ejs');%>
        <script type="text/javascript" src="../js/store.js"></script>
  </body>


</html>