<!DOCTYPE ejs>
<html lang="en">
<head>
     <title>Sportify</title>
</head>
<body>
     <%- include('./templates/header.ejs');%>
     <%- include('./templates/dropDown.ejs');%>
   <%- include('./templates/footer.ejs');%>
</body>
</html>
