<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>Saved Items || Sportify</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/SavedItems.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<%- include('./templates/header.ejs');%> 
<div class="bag-header">
    <h2>Saved Items</h2>
  </div>
<div class="container bootstrap snippets bootdey">
<div class="row">
<!-- <div class="col-md-4 col-sm-4 col-xs-12">
<div class="panel panel-primary text-center">
<div class="panel-body">
<img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/FFB6C1/000000">
</div>
<div class="panel-footer">
<span class="label label-primary">Product name</span>
<span class="pull-right">
<a href="#" class="btn btn-primary btn-xs tip" title="Favorite">
<i class="glyphicon glyphicon-heart"></i>
</a>
<a href="#" class="btn btn-primary btn-xs tip" title="Buy">
<i class="glyphicon glyphicon-shopping-cart"></i>
</a>
<a href="#" class="btn btn-primary btn-xs tip" title="Share">
<i class="glyphicon glyphicon-share"></i>
</a>
</span>
</div>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
    <div class="panel panel-primary text-center">
    <div class="panel-body">
    <img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/FFB6C1/000000">
    </div>
    <div class="panel-footer">
    <span class="label label-primary">Product name</span>
    <span class="pull-right">
    <a href="#" class="btn btn-primary btn-xs tip" title="Favorite">
    <i class="glyphicon glyphicon-heart"></i>
    </a>
    <a href="#" class="btn btn-primary btn-xs tip" title="Buy">
    <i class="glyphicon glyphicon-shopping-cart"></i>
    </a>
    <a href="#" class="btn btn-primary btn-xs tip" title="Share">
    <i class="glyphicon glyphicon-share"></i>
    </a>
    </span>
    </div>
    </div>
    </div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="panel panel-success">
<div class="panel-body">
<img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/9400D3/000000">
</div>
<div class="panel-footer">
<span class="label label-success">Product name</span>
<span class="pull-right">
<a href="#" class="btn btn-success btn-xs tip" title="Favorite">
<i class="glyphicon glyphicon-heart"></i>
</a>
<a href="#" class="btn btn-success btn-xs tip" title="Buy">
<i class="glyphicon glyphicon-shopping-cart"></i>
</a>
<a href="#" class="btn btn-success btn-xs tip" title="Share">
<i class="glyphicon glyphicon-share"></i>
</a>
</span>
</div>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="panel panel-danger">
<div class="panel-body">
<img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/00BFFF/000000">
</div>
<div class="panel-footer">
<span class="label label-danger">Product name</span>
<span class="pull-right">
<a href="#" class="btn btn-danger btn-xs tip" title="Favorite">
<i class="glyphicon glyphicon-heart"></i>
</a>
<a href="#" class="btn btn-danger btn-xs tip" title="Buy">
<i class="glyphicon glyphicon-shopping-cart"></i>
</a>
<a href="#" class="btn btn-danger btn-xs tip" title="Share">
<i class="glyphicon glyphicon-share"></i>
</a>
</span>
</div>
</div>
</div> -->
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="panel panel-info">
<div class="panel-body">
<img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/4B0082/000000">
</div>
<div class="panel-footer">
<span class="label label-info">Product name</span>
<span class="pull-right">
<a href="#" class="btn btn-info btn-xs tip" title="Favorite">
<i class="glyphicon glyphicon-heart"></i>
</a>
<a href="#" class="btn btn-info btn-xs tip" title="Buy">
<i class="glyphicon glyphicon-shopping-cart"></i>
</a>
<a href="#" class="btn btn-info btn-xs tip" title="Share">
<i class="glyphicon glyphicon-share"></i>
</a>
</span>
</div>
</div>
</div>
<!-- <div class="col-md-4 col-sm-4 col-xs-12">
<div class="panel panel-warning">
<div class="panel-body">
<img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/20B2AA/000000">
</div>
<div class="panel-footer">
<span class="label label-warning">Product name</span>
<span class="pull-right">
<a href="#" class="btn btn-warning btn-xs tip" title="Favorite">
<i class="glyphicon glyphicon-heart"></i>
</a>
<a href="#" class="btn btn-warning btn-xs tip" title="Buy">
<i class="glyphicon glyphicon-shopping-cart"></i>
</a>
<a href="#" class="btn btn-warning btn-xs tip" title="Share">
<i class="glyphicon glyphicon-share"></i>
</a>
</span>
</div>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="panel panel-default">
<div class="panel-body">
<img class="img-responsive img-effect" src="https://www.bootdey.com/image/700x500/87CEFA/000000">
</div>
<div class="panel-footer">
<span class="label label-default">Product name</span>
<span class="pull-right">
<a href="#" class="btn btn-default btn-xs tip" title="Favorite">
<i class="glyphicon glyphicon-heart"></i>
</a>
<a href="#" class="btn btn-default btn-xs tip" title="Buy">
<i class="glyphicon glyphicon-shopping-cart"></i>
</a>
<a href="#" class="btn btn-default btn-xs tip" title="Share">
<i class="glyphicon glyphicon-share"></i>
</a>
</span>
</div>
</div>
</div> -->
</div>
</div>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
    $('.tip').tooltip();
});

</script>
<%- include('./templates/footer.ejs');%>
</body>
</html>