<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">


<title>Saved Items || Sportify</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../css/SavedItems.css"/>
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<%- include('./templates/header.ejs');%> 
<div class="image-container">
    <img src="Images/ComingSoon.jpg" alt="Product Photo" class="product-photo full-page-image">
</div>

<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(function(){
    $('.tip').tooltip();
});

</script>
<%- include('./templates/footer.ejs');%>
</body>
</html>