.hidden{
    display:none;
}
.addBtn{
    width:300px;

}
.btnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}
td{
    text-align: center;
}
.headline{
    margin-top: 20px;
    color:#ea9215;
  
  }
    h1{
      text-align: center;
      background-color:rgba(58, 71, 80, 255) ;
      width: 24rem;
      height:3.5rem;
      margin:auto;
      border-radius: 27px;
      margin-top:1rem;
      margin-bottom: 1rem;
      font-family: Poppins-Bold;
    }
    th{
        text-align: center;
    }