.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust the height as needed */
  background-color: #f1f1f1;
}
.welcome-header h2 {
  color: #ea9215;
  font-size: 36px;
  font-weight: bold;
  
}
.sale-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;

}
.header2{
  color: #ea9215;
  font-weight: bold;

}

.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust the height as needed */
  background-color: #f1f1f1;
}
.welcome-header h2 {
  color: #ea9215;
  font-size: 36px;
  font-weight: bold;
  
}
.sale-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;

}
.header2{
  color: #ea9215;
  font-weight: bold;

}


/* weather */
*{
 
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.card {
  max-width: 200px;
  max-height: 250px;
  background: linear-gradient(120deg, #ea9215, #333);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 40px;
  max-width: 80%;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 13px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}

.weather h1{
  font-size: 15px;
  font-weight: 100;
}
.weather h2{
  font-size: 15px;
  font-weight: 100;
}
.details{
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.col{
  display: flex;
  align-items: center;
}

.col img{
  width: 30px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 15px;
  
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}

/*discount 10% css */
.discount10 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.discount-link {
  text-decoration: none;
  color: #ea9215;
  font-weight: bold;
  display: inline-block;
  padding: 10px;
 
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.discount-link:hover {
  color: #ea9215;
}

/* video */
.video-container {
  margin-top: 30px; 
  margin-bottom: 40px; 
  text-align: center;
}

video {
  max-width: 80%;
  height: auto;
}
/* Custom styles for the carousel and buttons */
#carouselSlide {
  width: 100%;
  margin: 0 auto;
}
.carousel-item img.d-block {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@import url('https://fonts.googleapis.com/css?family=Exo+2|Yatra+One');

body{
  background: #8c7ae6;
}

.wrapper{
  margin-top: 60px;
  text-align: center;
}

.wrapper h1{
  font-family: 'Yatra One', cursive;
  font-size: 48px;
  color: #fff;
  margin-bottom: 25px;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  width: 250px;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
  
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 190px;
  width: 100%;
  height: 190px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

.our_team .team_member .member_img:hover .social_media{
  transform: scale(1);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Exo 2', sans-serif;
  color:black;

}

#pic{
  border-radius: 50%;
}
#head{
  color:black
}

.c-item {
  height: 550px;
}

.c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}
#head{
  text-shadow: 2px 2px #6c757d;
}
.UsersOnline{
  text-align: center;
  color: blue;
  width: 333px;
  /* height: 78px; */
  background-color: #3498db;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  transform: translate(233%, -50%);
}
.chart-container {
  display: flex;
  margin: 0 auto;
  align-items: center; /* Vertically align the content */
  justify-content: center; /* Horizontally align the content */
  max-width: 100%; /* Make sure the chart doesn't exceed the container width */
  max-height: 100%; /* Adjust the width as needed */
  padding: 20px; /* Add padding to the container for better spacing */
  margin-top: 10px;
  margin-bottom: 1px; /* Adjust this value to reduce the space */

}
.chart2-container {
  display: flex;
  margin: 0 auto;
  align-items: center; /* Vertically align the content */
  justify-content: center; /* Horizontally align the content */
  max-width: 100%; /* Adjust the width as needed */
  padding: 20px; /* Add padding to the container for better spacing */
  margin-top: 1px; /* Adjust this value to reduce the space */
  margin-bottom: 25px; /* Adjust this value to reduce the space */

}

/* Center the price chart */
#priceChart {
  max-width: 100%; /* Make sure the chart doesn't exceed the container width */
  height: 550px; /* Adjust the width as needed */

}
#orderChart {
  max-width: 100%; /* Make sure the chart doesn't exceed the container width */
  max-height: 100%; /* Adjust the width as needed */
}
#promoChart {
  max-width: 100%; /* Make sure the chart doesn't exceed the container width */
  max-height: 100%; /* Adjust the width as needed */
}
#GenderChart{
  max-width: 100%; /* Make sure the chart doesn't exceed the container width */
  height: 550px; /* Adjust the width as needed */
}
/* CSS style for the bars */
.bar {
  fill: #ea9215; /* Set the fill color of the bars */
  stroke: none; /* Remove any stroke (border) around the bars */
  width: 20px;
}
.barPromo{
  fill: #3498db; /* Set the fill color of the bars */
  stroke: none; /* Remove any stroke (border) around the bars */
  width: 60px;
}
.barOrder{
  fill:#8c7ae6; /* Set the fill color of the bars */
  stroke: none; /* Remove any stroke (border) around the bars */
  width: 35px;
}
.barGender{
  fill:cadetblue; /* Set the fill color of the bars */
  stroke: none; /* Remove any stroke (border) around the bars */
  width: 60px;
}
/* CSS style for the x-axis labels */

/* CSS for X-axis labels */
.x-axis-label {
  font-size: 12px;
  transform: translate(-3px, 0) rotate(-45deg); /* Rotate and translate the labels */
  text-anchor: end; /* Align the end of the label with the tick */

}


.graph-title{
  text-anchor: middle; /* Set the text-anchor property for proper alignment */
  font-size: 25px;
  color:gray;
  font-weight: bold;
}


