.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust the height as needed */
  background-color: #f1f1f1;
}
.welcome-header h2 {
  color: #ea9215;
  font-size: 36px;
  font-weight: bold;
  
}
.sale-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;

}
.header2{
  color: #ea9215;
  font-weight: bold;

}

.welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust the height as needed */
  background-color: #f1f1f1;
}
.welcome-header h2 {
  color: #ea9215;
  font-size: 36px;
  font-weight: bold;
  
}
.sale-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;

}
.header2{
  color: #ea9215;
  font-weight: bold;

}


/* weather */
*{
 
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.card {
  max-width: 200px;
  max-height: 250px;
  background: linear-gradient(120deg, #ea9215, #333);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 40px;
  max-width: 80%;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 13px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}

.weather h1{
  font-size: 15px;
  font-weight: 100;
}
.weather h2{
  font-size: 15px;
  font-weight: 100;
}
.details{
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.col{
  display: flex;
  align-items: center;
}

.col img{
  width: 30px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 15px;
  
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}

/* Custom styles for the carousel and buttons */
#carouselSlide {
  width: 100%;
  margin: 0 auto;
}
.carousel-item img.d-block {
  width: 100%;
  height: auto;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}




