  .welcome-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust the height as needed */
  background-color: #f1f1f1;
}
.welcome-header h2 {
  color: #ea9215;
  font-size: 36px;
  font-weight: bold;
  
}
.sale-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: 1;

}
.header2{
  color: #ea9215;
  font-weight: bold;

}


/* weather */
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body{
  background: #222;
}
.card {
  width: 80%;
  max-width: 400px;
  background: linear-gradient(120deg, #ea9215, #333);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  margin: 0 auto; /* Add this line to center the card horizontally */
  margin-top: 10vh; /* Adjust this value to center the card vertically */
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather h1{
  font-size: 80px;
  font-weight: 500;
}
.weather h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity, .wind{
  font-size: 28px;
  margin-top: -6px;
}
.weather{
  display:none ;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

/* Custom styles for the carousel and buttons */
#carouselExample {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.carousel-item img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
  background-size: 100% 100%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: #555;
}

/* Make the carousel responsive for small screens */
@media (max-width: 576px) {
  #carouselExample {
      max-width: 100%;
  }

  .carousel-item img {
      max-height: 200px;
  }
}
