
#container{
    display: flex;
    flex-wrap: wrap; 
}


.card{
    width: 18rem;
}

.shop-button{
    border:none;
width: 40px;
    height: 40px;
padding: 5px 10px;
cursor: pointer;
}
.bag-button-img{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
h2{
    text-align: center;
    color:#ea9215;
    font-weight: bold;  
}
