
#container{
    display: flex;
    flex-wrap: wrap; 
}
.card{
    
    width: 18rem;
    margin-left:1rem;
    margin-bottom: 1rem;
    position: relative;
    padding-top: 0%; 
}
.card:hover {
    transform: translateY(-5px);
}
.shop-button{
    border:none;
width: 40px;
    height: 40px;
padding: 5px 10px;
cursor: pointer;
}
.bag-button-img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #ea9215;
    border-radius: 10px;
    padding:2%;
    margin-right:1rem;
}
h2{
    text-align: center;
    color:#ea9215;
    font-weight: bold;  
}
.card-img-top{
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    height:320px;
}
.price{
    margin-top: 1rem;
    background-color: #ea9215;
    color: black;
    font-weight: 500;
    width:88px;
    border-radius: 5px;
    font-size: 28;
   position: absolute; /* Use absolute positioning */
    right: 10px; /* Adjust as needed */
    bottom: 10px; /* Adjust as needed */
    cursor:default;
    padding:5px;
    white-space: nowrap;
    text-align: center;
}
.card-title{
    color:#ea9215;
    font-weight: bolder;
    cursor:default;
}
.card-text{
    color:#ea9215;
    cursor:default;
}
.card-body{
    background-color:antiquewhite ;
}
.buttonsDiv{
    display:flex;
}

@media screen and (max-width: 1550px) {
    .card {
        flex-basis: calc(25% - 1rem); 
    }
}
@media screen and (max-width: 700px) {
    .card {
        flex-basis: calc(40.33% - 1rem); 
    }
}
@media screen and (max-width: 900px) {
    .card {
        flex-basis: calc(40% - 1rem); 
    }
}
@media screen and (max-width: 700px) {
    .card {
        flex-basis: calc(40% - 1rem); 
    }
}


/* Style the Sort Order dropdown */
#sort-options-dropdown {
    background-color: #ea9215; /* Set background color for the dropdown button */
    color: #fff; /* Set text color for the dropdown button */
    margin: 15px;
}

/* Style the search input */
#search-input {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 14px;
    width: 200px;
}

/* Style the search button */
#search-button {
    background-color: #ea9215;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 14px;
    width: 100px;

}
