body{
  background-color: rgba(0, 0, 0, 0.2);
}
#inline{
  display: flex;
}
#map {
    height: 560px; /* The height is 560 pixels */
    width: 75%; 
   

  }
  /* weather */
*{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
.AboutUs{
  column-count: 2;
}
.card {
  max-width: 180px;
  max-height: 290px;
  background: linear-gradient(120deg, #ea9215, #333);
  color: #fff;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
/* Add this CSS to your existing ourStores.css or create a new CSS file for the weather card styles */

/* Weather Card */


.weather-card {
  max-width: 300px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  
  /* Center the card horizontally */
  margin: 0 auto;
}
.weather-container{
  margin-bottom: 27px;
}
.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input{
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 40px;
  text-align:center;
  max-width: 80%;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 13px;
}
.search button{
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.search button img{
  width: 16px;
}

.weather h1{
  font-size: 20px;
  font-weight: 100;
  margin-left: 40px;
}

.weather h2{
  font-size: 20px;
  font-weight: 100;
  margin-left: 40px;
}

.details {
  display: flex;
  align-items: center;
  margin-left: -30px;
}
.temp{
  text-align: center;
  background-color: rgba(58, 71, 80, 255);
  width: 8rem;
  height: 1.5rem;
  margin: 0;
  border-radius: 27px;
 
  font-family: Poppins-Bold;
  color: #fff; /* Add this line to change the text color to white */
  background-color: transparent; /* Remove the background color */
}
.col{
  display: flex;
  align-items: center;
}

.col img {
  width: 30px;
  margin-right: 10px;
}



.weatherIcon img{
  width: 50px;
  margin-left: 40px;
}
.humidity, .wind{
  font-size: 15px;
  
}

.error{
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  display: none;
}



\\\\
.headline{
  margin-top: 20px;

}
  h1{
    text-align: center;
    color:#ea9215;
    background-color:rgba(58, 71, 80, 255) ;
    width: 24rem;
    height:3.5rem;
    margin:auto;
    border-radius: 27px;
    margin-top:1rem;
    margin-bottom: 1rem;
    font-family: Poppins-Bold;
  }
  #block{
    text-align: center;
   width:24%;
  }
  #addressCointaner{
    list-style-position: inside; /* Position the list item markers inside the <ol> */
    background-color:rgba(58, 71, 80, 255);
  color:#ea9215;
  border-radius: 9px;
  margin-left:1.5rem;
  font-weight: 500;
  font-family: Poppins-Bold;
  margin-right:0rem;
  padding-top: 10px;
  padding-bottom: 10px;
  }

 li{
  
  margin-bottom: 0.05rem;
  padding: 0.1em;
 }
