.h2, h2 {
  color: #ea9215 !important;
  text-align: center;
}
body{
  margin-top:20px;
  background:#eee;
}
.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}
.images{
  width: 125px;
  height: 125px;
}
.hidden{
  display:none;
}
.lined{
  text-decoration: line-through;
}


.nice-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  margin-top:7px;
}

.primary-button {
  background-color: #3498db;
  color: white;
}

.secondary-button {
  background-color: #e67e22;
  color: white;
}

.outline-button {
  background-color: transparent;
  border: 2px solid #3498db;
  color: #3498db;
}

.nice-button:hover,
.nice-button:focus {
  opacity: 0.8;
}
