
#cart-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}
#cart-table th,
#cart-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}
#cart-table th {
  font-weight: bold;
  color: #ea9215;
}
.checkout-section {
  margin-top: 28%;
  margin-right: 10px;
}
.checkout-section::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.total-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.total-row span:first-child {
  margin-right: 10px;
}

.checkout-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.checkout-button button {
  padding: 10px 20px;
  background: #ea9215;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button button:hover {
  background: #f1cd9b;
}
