/* Basic styling for every page*/
/* Start here */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3a4750;
  padding: 10px;
}

.logo img {
  width: 100px;
}
.search-bar input {
  margin-right: 100px;
  width: 350px;
  height: 30px;
  padding: 6px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  background-color: #f5f5f5;
  background-image: url("../Images/search.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-family: futura-pt, sans-serif;
  letter-spacing: 0.4px;
  padding-left: 15px;
  background-size: 25px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-bar button {
  padding: 5px 10px;
  background-color: #ea9215;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
}
.search-bar input:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search-bar input::placeholder {
  color: #999;
}

.search-bar button:hover {
  background-color: #f1cd9b;
}

.register-button img,
.like-button img,
.bag-button img {
  width: 25px;
  height: 25px;
}

.register-button,
.like-button,
.bag-button {
  padding: 5px 10px;
  background: #ea9215;
  border-radius: 20px;
}

.register-button:hover,
.like-button:hover,
.bag-button:hover {
  background: #f1cd9b;
}

.bag-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #f1f1f1;
}

.bag-header h2 {
  font-size: 36px;
  color: #ea9215;
  font-weight: bold;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a4750;
  padding: 10px;
  color: #ea9215;
  margin-top: auto;
  flex-shrink: 0;
}
.footer h3 {
  margin-right: 10px;
}

.footer button {
  margin-right: 5px;
}

.social-button {
  padding: 5px 10px;
  margin-right: 10px;
}

.bag-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px; /* Adjust the height as needed */
  background-color: #f1f1f1;
}

.bag-header h2 {
  font-size: 24px;
  color: #ea9215;
  font-size: 36px;
  font-weight: bold;
}

.register-button img,
.like-button img,
.bag-button img {
  width: 25px;
  height: 25px;
}

.register-button,
.like-button,
.bag-button {
  padding: 5px 10px;
  background: #ea9215; /* Set the background to transparent */
  border-radius: 20px;
}

.register-button:hover,
.like-button:hover,
.bag-button:hover {
  background: #f1cd9b;
}

.instagram-button img,
.facebook-button img,
.location-button img,
.management-button img {
  width: 25px;
  height: 25px;
}

.instagram-button,
.facebook-button,
.location-button,
.management-button {
  background: #ea9215; /* Set the background to transparent */
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.instagram-button:hover,
.facebook-button:hover,
.location-button:hover,
.management-button:hover {
  background: #f1cd9b;
}
.register-button {
  position: relative;
}

.register-button:hover .menu {
  display: block;
}

.menu {
  display: none;
  position: absolute;
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 200px;
  text-align: center; /* Выравниваем текст по центру */
  left: 50%; /* Перемещаем меню на 50% относительно родительского элемента */
  transform: translateX(-50%); /* Сдвигаем меню влево на половину его ширины */
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 10px;
}
.menu ul li .login-join {
  color: #888; /* Измените цвет на серый (например, #888) */
}
.menu ul li .accord {
  margin-bottom: px;
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.menu ul li a img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.menu ul li a:hover {
  color: #ea9215;
}

.menu ul li .account {
  font-size: 18px;
}

.menu ul li .orders {
  font-size: 18px;
}

.menu ul li:first-child {
  display: flex;
}

.menu ul li:first-child a {
  margin-right: 10px;
}

/* end here */

#cart-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

#cart-table th,
#cart-table td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

#cart-table th {
  font-weight: bold;
  color: #ea9215;
}

.checkout-section {
  margin-top: 28%;
  margin-right: 10px;
}
.checkout-section::before {
  content: "";
  display: block;
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}

.total-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  font-weight: bold;
}

.total-row span:first-child {
  margin-right: 10px;
}

.checkout-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.checkout-button button {
  padding: 10px 20px;
  background: #ea9215;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button button:hover {
  background: #f1cd9b;
}
