<!DOCTYPE html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/templates/dropDown.css">
</head>
<body>
    <div class="navigation">
        <div class="dropdown">
          <a class="active" href="./AllItems">New & Features</a>
          <div class="dropdown-content">
          </div>
        </div>
        
        <div class="dropdown">
          <a href="./Men">Men</a>
          <div class="dropdown-content">
          <a href="./MenShirts">Shirts</a>
          <a href="./MenPants">Pants</a>
          <a href="./MenShoes">Shoes</a>
          </div>
        </div>
    
        <div class="dropdown">
          <a href="./Women">Women</a>
          <div class="dropdown-content">
          <a href="./WomenShirts">Shirts</a>
          <a href="./WomenPants">Pants</a>
          <a href="./WomenShoes">Shoes</a>
          </div>
        </div>
    
      <div class="dropdown">
        <a href="#Sale">Sale</a>
        <div class="dropdown-content">
          <a href="#Men">Men</a>
          <a href="#Women">Women</a>
          </div>
      </div>
      </div>
</body>
</html>