<!DOCTYPE ejs>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="../css/templates/footer.css">
</head>
<body>
    <div class="footer">
        <h3>Follow us</h3>
        <button class="instagram-button">
          <a href="https://www.instagram.com/vladislav_polyak/">
            <img src="../Images/instagram.png" alt="instagram Icon">
          </a>
        </button>
        <button class="facebook-button">
          <a href="#facebook">
            <img src="../Images/facebook.png" alt="facebook Icon">
          </a>
        </button>
        <h3>Our Stores</h3>
        <button class="location-button">
          <a href="./storelocation">
            <img src="../Images/pin.png" alt="location Icon">
          </a>
        </button>
        <% if (Admin) { %>
        <h3>Management</h3>
        <button class="management-button">
          <a href="./management">
            <img src="../Images/secure.png" alt="management Icon">
          </a>
        </button>
        <%}%>
      </div>
</body>
</html>