<!DOCTYPE ejs>
<html lang="en">
<head>
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous"
/>
  <link rel="stylesheet" type="text/css" href="../css/templates/header.css">
</head>
<body>
    <div class="header">
        <div class="logo"> 
          <a href="./mainpage">
            <img
              src="../Images/logo_transparent2.png"
              alt="Sportify Logo"
            />
          </a>
        </div>
        <div class="style-button">
          <button class="register-button">
              <img src="../Images/user2.png" alt="Register Icon" />
              <div class="menu">
                <ul>
                  <% if (loggedIn) { %>
                    <li>
                      <span class="greeting">Hi <%= username %></span>    
                      <a class="login-join" id="sign-out" href="/logout">Sign out</a>
                    </li>
                    
                  <% } else { %>
                    <li>
                      <a class="login-join" href="./login">Login</a>
                      <span></span>
                      <a class="login-join" href="./register">Join</a>
                    </li>
                  <% } %>
                    <hr class="menu-divider" /> 
                    <li>
                      <% if (loggedIn) { %>
                        <a class="accord" href="/myaccount">
                      <% } else { %>
                        <a class="accord" href="/login">
                      <% } %>
                        <img src="../Images/user.png" alt="My Account Icon" />
                        <span class="account">My Account</span>
                      </a>
                    </li>
                    <li>
                      <% if (loggedIn) { %>
                        <a class="accord" href="#my-orders">
                      <% } else { %>
                        <a class="accord" href="/login">
                      <% } %>
                        <img src="../Images/checkout.png" alt="My Orders Icon" />
                        <span class="orders">My Orders</span>
                    </a>
                  </li>
                </ul>
              </div>
          <button class="like-button">
            <a href="/SavedItems">
              <img src="../Images/heart.png" alt="Register Icon" />
            </a>
          </button>
          <button class="bag-button">
            <a href="./cartpage">
              <img src="../Images/bag.png" alt="Register Icon" />
            </a>
          </button>
        </div>
      </div>
      <script type="text/JavaScript" src="../../controllers/header.js"></script>
</body>
</html>