body {
  background-color: #3a4750;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-box {
  background-color: rgba(58, 71, 80, 255);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  height: 550px;
}

.LogIn_title {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #ea9215;
  font-weight: bold;
  line-height: 1.2;
}
.bodyLogin {
  background-color: gray;
}
.form_container {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 45px;
}

button[type="submit"] {
  padding: 8px 20px;
  background-color: #ea9215;
  color: #fff;
  border: none;
  margin-top: 4%;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #ea9215a8;
}
/* Icons for login page */
.input-icon {
  position: relative;
  width: 100%;
}
.input-icon-img {
  position: absolute;
  height: 100%;
  padding: 12px;
}
.social-buttons {
  margin-top: 20px;
}

.social-buttons {
  margin-top: 20px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.facebook-button,
.google-button {
  display: flex;
  /* align-items: center; */
  padding: 6px 27px;
  /* font-size: 14px; */
  border-radius: 20px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.facebook-button img,
.google-button img {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.facebook-button {
  background-color: #3b5998;
}

.google-button {
  background-color: #dd4b39;
}

.facebook-button:hover,
.google-button:hover {
  opacity: 0.8;
}
.or-sign-in {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
  font-size: 18px; 
  /* font-family: Arial, sans-serif;  */
  font-family: Poppins-Bold;
  padding-top: 15px;
}



