body {
  background-color: #3a4750;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.login-box {
  background-color: rgba(58, 71, 80, 255);
  padding: 20px;
  border-radius: 20px;
  width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-top: 20px;
  height: 480px;
}

.LogIn_title {
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #ea9215;
  font-weight: bold;
  line-height: 1.2;
}
.bodyLogin {
  background-color: gray;
}
.form_container {
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  color: white;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 45px;
}

button[type="submit"] {
  padding: 8px 20px;
  background-color: #ea9215;
  color: #fff;
  border: none;
  margin-top: 4%;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  text-align: center;
}

button[type="submit"]:hover {
  background-color: #ea9215a8;
}
/* Icons for login page */
.input-icon {
  position: relative;
  width: 100%;
}
.input-icon-img {
  position: absolute;
  height: 100%;
  padding: 12px;
}
/* Icons for login page */
