body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3a4750;
    padding: 10px;
  }
  .style-button{
    display: flex;
    
  }
  
  .logo img {
    width: 100px;
  }

  
  .register-button img,
  .like-button img,
  .bag-button img {
    width: 30px;
    height: 30px;
  }
  
  
  .register-button:hover,
  .like-button:hover,
  .bag-button:hover {
    background: #f1cd9b;
  }
  
  .bag-header {
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #f1f1f1;
  }
  
  .bag-header h2 {
    font-size: 36px;
    color: #ea9215;
    font-weight: bold;
  }

  .register-button,
  .like-button,
  .bag-button {
    padding: 5px 10px;
    background: #ea9215; /* Set the background to transparent */ 
    border-radius: 10px;
  }
  .register-button {
    position: relative;
    
  }
  .register-button:hover .menu {
    display: block;
  }
  
  .menu {
    display: none;
    position: absolute;
    z-index: 3;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 250px;
    transform: translateX(-50%); 
  }
  
  .menu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
  }
  
  .menu-divider {
    margin-bottom: 15px;
  }
  .login-join {
    margin-left: 35px;
  }
  .menu ul li .login-join {
    color: #888; 
    text-align: center; 
  } 
   .menu ul li .accord {
    margin-bottom: px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 16px;
  }
  .accord {
    margin-bottom: 15px;
  }
  .greeting {
    font-weight: bold;
    font-size: 18px;
  }  
  .menu ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
   .menu ul li a:hover {
    color: #f1cd9b;
  }
  .menu ul li .account {
    font-size: 18px;
  }
  .menu ul li .orders {
    font-size: 18px;
  }
  .menu ul li:first-child a {
    margin-right: 10px;
  }
  






